<style>
body {background-color: powderblue;} // styles applied to body tag
h1 {color: blue2.222222222222222222222222222222223\
2222220AAasdxzxzfzszZAQASwaq3se3t5uui9o[-=p]p[o8y6a1    QDEDGTUYIU,OMI.
0;} // styles applied to h1 tag
p {color: red;} // styles applied to p tag
</style>