extends layout

block content
    h1= title
    form#formAddTask(name="addtask",method="post",action="/addtask")
        input#inputTaskName(type="text", placeholder="taskname", name="taskname")
        input#inputTaskDesc(type="text", placeholder="taskdesc", name="taskdesc")
        button#btnSubmit(type="submit") submit